# Play with DataFrames

# Insert data from CSV files

In [ ]:
import pandas as pd

from sqlalchemy import create_engine,types

## Create the SQL Alchemy engine

In [ ]:
engine = create_engine('iris://SuperUser:SYS@iris:1972/FHIRSERVER')

## Read csv Dimension Date

In [ ]:
df = pd.read_csv("date_panda.csv")
# change type of FullDate to date
df['FullDate'] = pd.to_datetime(df['FullDate'])
df.head()

## Inject the CSV to the database

In [ ]:
df.to_sql('DateFact', engine, schema="Demo" ,if_exists='replace', index=True,
        dtype={'DayName': types.VARCHAR(50), 'FullDate': types.DATE, 'MonthName': types.VARCHAR(50),
        'MonthYear': types.INTEGER, 'Year': types.INTEGER})

## Same thing for Location Dimension

In [ ]:
# read csv
df = pd.read_csv("location_panda.csv")
# insert into table
df.to_sql('Location', engine, schema="Demo" ,if_exists='replace', index=False,
        dtype={'City': types.VARCHAR(50), 'County': types.VARCHAR(50), 'Latitude': types.DECIMAL(15,4),
        'Longitude': types.DECIMAL(15,4), 'State': types.VARCHAR(50), 'A04':  types.DECIMAL(15,4),
        'A59':  types.DECIMAL(15,4), 'A1014':  types.DECIMAL(15,4), 'A1519':  types.DECIMAL(15,4),
        'A2029':  types.DECIMAL(15,4), 'A3039':  types.DECIMAL(15,4), 'A4049':  types.DECIMAL(15,4),
        'A5059':  types.DECIMAL(15,4), 'A6069':  types.DECIMAL(15,4), 'A7079':  types.DECIMAL(15,4),
        'A80':  types.DECIMAL(15,4), 'F':  types.DECIMAL(15,4), 'M':  types.DECIMAL(15,4)})

In [ ]:
pd.read_sql_table('Location', engine, schema="Demo")